In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
from torch.utils.data import Dataset, DataLoader

In [79]:
ace = pd.DataFrame()
for name in os.listdir('proc_data/ace'):
    ins_data = pd.read_csv(f'proc_data/ace/{name}', parse_dates=['dt'])
    ace = pd.concat([ace, ins_data], axis=0).reset_index(drop=True)

ace.sample(5)

,dt,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag
367783,1999-09-30 10:21:00,4.261,102780.0,574.17,0.131,3.820,-2.937,4.897
7403215,2013-12-12 12:38:00,-9999.900,20868.0,311.41,1.884,1.396,-1.632,2.864
4685566,2008-07-02 18:48:00,-9999.900,-9999.9,358.78,2.421,0.123,0.928,2.597
4959820,2009-01-21 22:26:00,4.379,73991.0,403.08,2.831,-0.665,1.096,3.198
2721936,2004-07-09 05:52:00,-9999.900,-9999.9,318.91,-0.112,-3.756,1.219,3.960

In [5]:
test = pd.read_csv(f"proc_data/ace/{os.listdir('proc_data/ace')[-1]}", parse_dates=['dt'])

test.sample(5)

,dt,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag
454680,2013-12-03 19:11:00,4.775,121040.0,383.69,-4.496,1.531,-1.665,5.044
65454,2013-02-18 11:37:00,-9999.900,65103.0,347.67,1.560,4.009,-4.678,6.372
19692,2013-01-15 14:05:00,-9999.900,-9999.9,-9999.90,-0.613,3.602,-0.025,3.684
438618,2013-11-21 21:38:00,-9999.900,22739.0,330.50,0.970,-2.193,-2.670,3.592
428334,2013-11-14 06:49:00,3.030,51673.0,380.51,-1.766,0.680,-1.306,2.307

In [ ]:
np.csv

In [53]:
target = pd.read_csv("proc_data/target.csv", parse_dates=['dt'])
target.head()

                   dt  value
0 1999-01-01 00:00:00      0
1 1999-01-01 03:00:00      2
2 1999-01-01 06:00:00      1
3 1999-01-01 09:00:00      2
4 1999-01-01 12:00:00      2

In [49]:
problem = pd.read_csv("proc_data/problem.csv", index_col=0, parse_dates=['dt'])
problem.head()

                        Np       Tp      Vp  B_gsm_x  B_gsm_y  B_gsm_z    Bmag
dt
2015-01-01 00:00:00  1.852  41618.0  455.61    6.098    2.449  -13.415  14.952
2015-01-01 00:01:00  2.181  33781.0  461.07    6.700    1.502  -13.232  14.912
2015-01-01 00:02:00  2.415  34709.0  464.84    7.390    0.523  -12.941  14.928
2015-01-01 00:03:00  2.359  34183.0  470.76    8.011   -0.098  -12.694  15.013
2015-01-01 00:04:00  1.237  32467.0  469.51    7.493    0.410  -13.058  15.064

In [50]:
additional = pd.read_csv("proc_data/additional.csv", index_col=0, parse_dates=['dt'])
additional.head()

                        Np       Tp      Vp  B_gsm_x  B_gsm_y  B_gsm_z   Bmag
dt
2014-06-29 00:01:00  2.416  65701.0  402.18   -4.212   -3.982    2.445  6.298
2014-06-29 00:02:00  2.493  68240.0  399.89   -4.566   -3.473    2.766  6.430
2014-06-29 00:03:00  2.582  85224.0  389.17   -5.456   -2.370    2.837  6.596
2014-06-29 00:04:00  2.686  90925.0  390.59   -5.550   -1.988    2.768  6.519
2014-06-29 00:05:00  2.676  79821.0  392.44   -4.922   -3.073    2.679  6.416

In [ ]:
ace[['Np']].plot()

In [ ]:
ace[['Tp']].plot()

In [ ]:
ace[['Vp']].plot()

In [15]:
import itertools

In [14]:
list(range(0, 24, 3))

[0, 3, 6, 9, 12, 15, 18, 21]

In [36]:
dict(enumerate([f'kp_{str(n)}h' if len(str(n)) == 2 else f'kp_0{str(n)}h' for _ in list(range(0, 24, 3)) for n in itertools.repeat(_, 3)], 1))

{1: 'kp_00h',
 2: 'kp_00h',
 3: 'kp_00h',
 4: 'kp_03h',
 5: 'kp_03h',
 6: 'kp_03h',
 7: 'kp_06h',
 8: 'kp_06h',
 9: 'kp_06h',
 10: 'kp_09h',
 11: 'kp_09h',
 12: 'kp_09h',
 13: 'kp_12h',
 14: 'kp_12h',
 15: 'kp_12h',
 16: 'kp_15h',
 17: 'kp_15h',
 18: 'kp_15h',
 19: 'kp_18h',
 20: 'kp_18h',
 21: 'kp_18h',
 22: 'kp_21h',
 23: 'kp_21h',
 24: 'kp_21h'}

In [82]:
ace.dt[0].hour

0

In [37]:
ace.head()

,dt,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag
0,1999-01-01 00:00:00,7.149,92352.0,406.00,-2.174,-2.598,5.550,6.630
1,1999-01-01 00:01:00,5.998,85859.0,419.12,-1.245,-0.140,6.558,6.796
2,1999-01-01 00:02:00,6.211,81547.0,411.99,-2.003,-1.198,6.306,6.802
3,1999-01-01 00:03:00,6.680,72308.0,405.25,-3.093,-2.483,5.545,6.854
4,1999-01-01 00:04:00,-9999.900,-9999.9,-9999.90,-3.009,-1.500,5.908,6.842

In [38]:
target.head()

                   dt  value
0 1999-01-01 00:00:00      0
1 1999-01-01 03:00:00      2
2 1999-01-01 06:00:00      1
3 1999-01-01 09:00:00      2
4 1999-01-01 12:00:00      2

In [74]:
total = ace.merge(target, how='left', in)

In [83]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7429504 entries, 0 to 7429503
Data columns (total 9 columns):
dt         datetime64[ns]
Np         float64
Tp         float64
Vp         float64
B_gsm_x    float64
B_gsm_y    float64
B_gsm_z    float64
Bmag       float64
value      float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 566.8 MB

In [93]:
total['kp_h'] = pd.Series([_.hour for _ in ace.dt]).map(dict(enumerate([pd.Timestamp(f'1999-01-01T{n}') if len(str(n))==2 else pd.Timestamp(f'1999-01-01T0{n}') for _ in list(range(0, 24, 3)) for n in itertools.repeat(_, 3)])))

In [95]:
total.pivot_table(index=['kp_h'])

,B_gsm_x,B_gsm_y,B_gsm_z,Bmag,Np,Tp,Vp,value
kp_h,,,,,,,,
0,-1.711544,-1.868644,-1.863244,4.011767,-3698.555939,72980.333252,-244.205259,1.974552
3,-3.431464,-3.613585,-3.545205,2.284152,-3745.819647,71940.757972,-268.057483,1.900215
6,-6.750265,-6.790422,-6.808801,-0.977716,-3746.703345,72372.791667,-274.296142,1.817934
9,-9.743165,-9.757102,-9.738815,-3.953525,-3761.460262,72842.601716,-278.130175,1.866436
12,-7.934278,-8.027733,-7.951658,-2.206505,-3769.665332,72209.090605,-290.686313,2.043386
15,-8.806499,-8.877128,-8.884381,-3.045269,-3837.314311,72356.866944,-390.275059,2.084898
18,-4.934534,-5.053399,-5.032685,0.861856,-3788.468546,73574.267854,-330.018692,2.035409
21,-3.573708,-3.679464,-3.721134,2.200307,-3724.279142,73053.532338,-342.253953,2.085978

In [65]:
total.value.value_counts()

2    11094
1    10801
3     8443
0     5745
4     3483
5     1175
6      358
7      116
8       38
9       19
Name: value, dtype: int64

In [91]:
.map({1:1})

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
           ..
7429474   NaN
7429475   NaN
7429476   NaN
7429477   NaN
7429478   NaN
7429479   NaN
7429480   NaN
7429481   NaN
7429482   NaN
7429483   NaN
7429484   NaN
7429485   NaN
7429486   NaN
7429487   NaN
7429488   NaN
7429489   NaN
7429490   NaN
7429491   NaN
7429492   NaN
7429493   NaN
7429494   NaN
7429495   NaN
7429496   NaN
7429497   NaN
7429498   NaN
7429499   NaN
7429500   NaN
7429501   NaN
7429502   NaN
7429503   NaN
Name: dt, Length: 7429504, dtype: float64

In [92]:
type(ace.dt)

pandas.core.series.Series

In [101]:
a = pd.Timestamp('1999-01-01T00')
a

Timestamp('1999-01-01 00:00:00')

In [106]:
pd.Timestamp(year=a.year, month=a.month, day=a.day, hour=a.hour)

Timestamp('1999-01-01 00:00:00')

In [105]:
a.date()

datetime.date(1999, 1, 1)

In [111]:
b = dict(enumerate([pd.Timestamp(year=a.year, month=a.month, day=a.day, hour=n) if len(str(n))==2 else pd.Timestamp(year=a.year, month=a.month, day=a.day, hour=int(f'0{n}')) for _ in list(range(0, 24, 3)) for n in itertools.repeat(_, 3)]))

In [112]:
type(b[0])

pandas._libs.tslibs.timestamps.Timestamp

In [138]:
[_ for _ in ace.dt]

[Timestamp('1999-01-01 00:00:00'),
 Timestamp('1999-01-01 00:01:00'),
 Timestamp('1999-01-01 00:02:00'),
 Timestamp('1999-01-01 00:03:00'),
 Timestamp('1999-01-01 00:04:00'),
 Timestamp('1999-01-01 00:05:00'),
 Timestamp('1999-01-01 00:07:00'),
 Timestamp('1999-01-01 00:08:00'),
 Timestamp('1999-01-01 00:09:00'),
 Timestamp('1999-01-01 00:10:00'),
 Timestamp('1999-01-01 00:11:00'),
 Timestamp('1999-01-01 00:12:00'),
 Timestamp('1999-01-01 00:13:00'),
 Timestamp('1999-01-01 00:14:00'),
 Timestamp('1999-01-01 00:15:00'),
 Timestamp('1999-01-01 00:16:00'),
 Timestamp('1999-01-01 00:17:00'),
 Timestamp('1999-01-01 00:18:00'),
 Timestamp('1999-01-01 00:19:00'),
 Timestamp('1999-01-01 00:20:00'),
 Timestamp('1999-01-01 00:21:00'),
 Timestamp('1999-01-01 00:23:00'),
 Timestamp('1999-01-01 00:24:00'),
 Timestamp('1999-01-01 00:25:00'),
 Timestamp('1999-01-01 00:26:00'),
 Timestamp('1999-01-01 00:27:00'),
 Timestamp('1999-01-01 00:28:00'),
 Timestamp('1999-01-01 00:29:00'),
 Timestamp('1999-01-01 00:30:00'),
 Timestamp('1999-01-01 00:31:00'),
 Timestamp('1999-01-01 00:32:00'),
 Timestamp('1999-01-01 00:33:00'),
 Timestamp('1999-01-01 00:34:00'),
 Timestamp('1999-01-01 00:35:00'),
 Timestamp('1999-01-01 00:36:00'),
 Timestamp('1999-01-01 00:37:00'),
 Timestamp('1999-01-01 00:39:00'),
 Timestamp('1999-01-01 00:40:00'),
 Timestamp('1999-01-01 00:41:00'),
 Timestamp('1999-01-01 00:42:00'),
 Timestamp('1999-01-01 00:43:00'),
 Timestamp('1999-01-01 00:44:00'),
 Timestamp('1999-01-01 00:45:00'),
 Timestamp('1999-01-01 00:46:00'),
 Timestamp('1999-01-01 00:47:00'),
 Timestamp('1999-01-01 00:48:00'),
 Timestamp('1999-01-01 00:49:00'),
 Timestamp('1999-01-01 00:50:00'),
 Timestamp('1999-01-01 00:51:00'),
 Timestamp('1999-01-01 00:52:00'),
 Timestamp('1999-01-01 00:53:00'),
 Timestamp('1999-01-01 00:55:00'),
 Timestamp('1999-01-01 00:56:00'),
 Timestamp('1999-01-01 00:57:00'),
 Timestamp('1999-01-01 00:58:00'),
 Timestamp('1999-01-01 00:59:00'),
 Timestamp('1999-01-01 01:00:00'),
 Timestamp('1999-01-01 01:01:00'),
 Timestamp('1999-01-01 01:02:00'),
 Timestamp('1999-01-01 01:03:00'),
 Timestamp('1999-01-01 01:04:00'),
 Timestamp('1999-01-01 01:05:00'),
 Timestamp('1999-01-01 01:06:00'),
 Timestamp('1999-01-01 01:07:00'),
 Timestamp('1999-01-01 01:08:00'),
 Timestamp('1999-01-01 01:09:00'),
 Timestamp('1999-01-01 01:11:00'),
 Timestamp('1999-01-01 01:12:00'),
 Timestamp('1999-01-01 01:13:00'),
 Timestamp('1999-01-01 01:14:00'),
 Timestamp('1999-01-01 01:15:00'),
 Timestamp('1999-01-01 01:16:00'),
 Timestamp('1999-01-01 01:17:00'),
 Timestamp('1999-01-01 01:18:00'),
 Timestamp('1999-01-01 01:19:00'),
 Timestamp('1999-01-01 01:20:00'),
 Timestamp('1999-01-01 01:21:00'),
 Timestamp('1999-01-01 01:22:00'),
 Timestamp('1999-01-01 01:23:00'),
 Timestamp('1999-01-01 01:24:00'),
 Timestamp('1999-01-01 01:25:00'),
 Timestamp('1999-01-01 01:27:00'),
 Timestamp('1999-01-01 01:28:00'),
 Timestamp('1999-01-01 01:29:00'),
 Timestamp('1999-01-01 01:30:00'),
 Timestamp('1999-01-01 01:31:00'),
 Timestamp('1999-01-01 01:32:00'),
 Timestamp('1999-01-01 01:33:00'),
 Timestamp('1999-01-01 01:34:00'),
 Timestamp('1999-01-01 01:35:00'),
 Timestamp('1999-01-01 01:36:00'),
 Timestamp('1999-01-01 01:37:00'),
 Timestamp('1999-01-01 01:38:00'),
 Timestamp('1999-01-01 01:39:00'),
 Timestamp('1999-01-01 01:40:00'),
 Timestamp('1999-01-01 01:41:00'),
 Timestamp('1999-01-01 01:43:00'),
 Timestamp('1999-01-01 01:44:00'),
 Timestamp('1999-01-01 01:45:00'),
 Timestamp('1999-01-01 01:46:00'),
 Timestamp('1999-01-01 01:47:00'),
 Timestamp('1999-01-01 01:48:00'),
 Timestamp('1999-01-01 01:49:00'),
 Timestamp('1999-01-01 01:50:00'),
 Timestamp('1999-01-01 01:51:00'),
 Timestamp('1999-01-01 01:52:00'),
 Timestamp('1999-01-01 01:53:00'),
 Timestamp('1999-01-01 01:54:00'),
 Timestamp('1999-01-01 01:55:00'),
 Timestamp('1999-01-01 01:56:00'),
 Timestamp('1999-01-01 01:57:00'),
 Timestamp('1999-01-01 01:59:00'),
 Timestamp('1999-01-01 02:00:00'),
 Timestamp('1999-01-01 02:01:00'),
 Timestamp('1999-01-01 02:02:00'),
 Timestamp('1999-01-01 02:03:00'),
 Timestamp('1999-01-01 02:04:00'),
 Timestamp('1999-01-01 02:05:00'),
 Timestamp('1999-01-01 02:06:00'),
 Timestamp('1999-01-01 02:07:00'),
 Timestamp('1999-01-01 02:08:00'),
 Timestamp('1999-01-01 02:09:00'),
 Timestamp('1999-01-01 02:10:00'),
 Timestamp('1999-01-01 02:11:00'),
 Timestamp('1999-01-01 02:12:00'),
 Timestamp('1999-01-01 02:13:00'),
 Timestamp('1999-01-01 02:15:00'),
 Timestamp('1999-01-01 02:16:00'),
 Timestamp('1999-01-01 02:17:00'),
 Timestamp('1999-01-01 02:18:00'),
 Timestamp('1999-01-01 02:19:00'),
 Timestamp('1999-01-01 02:20:00'),
 Timestamp('1999-01-01 02:21:00'),
 Timestamp('1999-01-01 02:22:00'),
 Timestamp('1999-01-01 02:23:00'),
 Timestamp('1999-01-01 02:24:00'),
 Timestamp('1999-01-01 02:25:00'),
 Timestamp('1999-01-01 02:26:00'),
 Timestamp('1999-01-01 02:27:00'),
 Timestamp('1999-01-01 02:28:00'),
 Timestamp('1999-01-01 02:29:00'),
 Timestamp('1999-01-01 02:31:00'),
 Timestamp('1999-01-01 02:32:00'),
 Timestamp('1999-01-01 02:33:00'),
 Timestamp('1999-01-01 02:34:00'),
 Timestamp('1999-01-01 02:35:00'),
 Timestamp('1999-01-01 02:36:00'),
 Timestamp('1999-01-01 02:37:00'),
 Timestamp('1999-01-01 02:38:00'),
 Timestamp('1999-01-01 02:39:00'),
 Timestamp('1999-01-01 02:40:00'),
 Timestamp('1999-01-01 02:41:00'),
 Timestamp('1999-01-01 02:42:00'),
 Timestamp('1999-01-01 02:43:00'),
 Timestamp('1999-01-01 02:44:00'),
 Timestamp('1999-01-01 02:45:00'),
 Timestamp('1999-01-01 02:47:00'),
 Timestamp('1999-01-01 02:48:00'),
 Timestamp('1999-01-01 02:49:00'),
 Timestamp('1999-01-01 02:50:00'),
 Timestamp('1999-01-01 02:51:00'),
 Timestamp('1999-01-01 02:52:00'),
 Timestamp('1999-01-01 02:53:00'),
 Timestamp('1999-01-01 02:54:00'),
 Timestamp('1999-01-01 02:55:00'),
 Timestamp('1999-01-01 02:56:00'),
 Timestamp('1999-01-01 02:57:00'),
 Timestamp('1999-01-01 02:58:00'),
 Timestamp('1999-01-01 02:59:00'),
 Timestamp('1999-01-01 03:00:00'),
 Timestamp('1999-01-01 03:01:00'),
 Timestamp('1999-01-01 03:03:00'),
 Timestamp('1999-01-01 03:04:00'),
 Timestamp('1999-01-01 03:05:00'),
 Timestamp('1999-01-01 03:06:00'),
 Timestamp('1999-01-01 03:07:00'),
 Timestamp('1999-01-01 03:08:00'),
 Timestamp('1999-01-01 03:09:00'),
 Timestamp('1999-01-01 03:10:00'),
 Timestamp('1999-01-01 03:11:00'),
 Timestamp('1999-01-01 03:12:00'),
 Timestamp('1999-01-01 03:13:00'),
 Timestamp('1999-01-01 03:14:00'),
 Timestamp('1999-01-01 03:15:00'),
 Timestamp('1999-01-01 03:16:00'),
 Timestamp('1999-01-01 03:17:00'),
 Timestamp('1999-01-01 03:19:00'),
 Timestamp('1999-01-01 03:20:00'),
 Timestamp('1999-01-01 03:21:00'),
 Timestamp('1999-01-01 03:22:00'),
 Timestamp('1999-01-01 03:23:00'),
 Timestamp('1999-01-01 03:24:00'),
 Timestamp('1999-01-01 03:25:00'),
 Timestamp('1999-01-01 03:26:00'),
 Timestamp('1999-01-01 03:27:00'),
 Timestamp('1999-01-01 03:28:00'),
 Timestamp('1999-01-01 03:29:00'),
 Timestamp('1999-01-01 03:30:00'),
 Timestamp('1999-01-01 03:31:00'),
 Timestamp('1999-01-01 03:32:00'),
 Timestamp('1999-01-01 03:33:00'),
 Timestamp('1999-01-01 03:35:00'),
 Timestamp('1999-01-01 03:36:00'),
 Timestamp('1999-01-01 03:37:00'),
 Timestamp('1999-01-01 03:38:00'),
 Timestamp('1999-01-01 03:39:00'),
 Timestamp('1999-01-01 03:40:00'),
 Timestamp('1999-01-01 03:41:00'),
 Timestamp('1999-01-01 03:42:00'),
 Timestamp('1999-01-01 03:43:00'),
 Timestamp('1999-01-01 03:44:00'),
 Timestamp('1999-01-01 03:45:00'),
 Timestamp('1999-01-01 03:46:00'),
 Timestamp('1999-01-01 03:47:00'),
 Timestamp('1999-01-01 03:48:00'),
 Timestamp('1999-01-01 03:49:00'),
 Timestamp('1999-01-01 03:51:00'),
 Timestamp('1999-01-01 03:52:00'),
 Timestamp('1999-01-01 03:53:00'),
 Timestamp('1999-01-01 03:54:00'),
 Timestamp('1999-01-01 03:55:00'),
 Timestamp('1999-01-01 03:56:00'),
 Timestamp('1999-01-01 03:57:00'),
 Timestamp('1999-01-01 03:58:00'),
 Timestamp('1999-01-01 03:59:00'),
 Timestamp('1999-01-01 04:00:00'),
 Timestamp('1999-01-01 04:01:00'),
 Timestamp('1999-01-01 04:02:00'),
 Timestamp('1999-01-01 04:03:00'),
 Timestamp('1999-01-01 04:04:00'),
 Timestamp('1999-01-01 04:05:00'),
 Timestamp('1999-01-01 04:07:00'),
 Timestamp('1999-01-01 04:08:00'),
 Timestamp('1999-01-01 04:09:00'),
 Timestamp('1999-01-01 04:10:00'),
 Timestamp('1999-01-01 04:11:00'),
 Timestamp('1999-01-01 04:12:00'),
 Timestamp('1999-01-01 04:13:00'),
 Timestamp('1999-01-01 04:14:00'),
 Timestamp('1999-01-01 04:15:00'),
 Timestamp('1999-01-01 04:16:00'),
 Timestamp('1999-01-01 04:17:00'),
 Timestamp('1999-01-01 04:18:00'),
 Timestamp('1999-01-01 04:19:00'),
 Timestamp('1999-01-01 04:20:00'),
 Timestamp('1999-01-01 04:21:00'),
 Timestamp('1999-01-01 04:23:00'),
 Timestamp('1999-01-01 04:24:00'),
 Timestamp('1999-01-01 04:25:00'),
 Timestamp('1999-01-01 04:26:00'),
 Timestamp('1999-01-01 04:27:00'),
 Timestamp('1999-01-01 04:28:00'),
 Timestamp('1999-01-01 04:29:00'),
 Timestamp('1999-01-01 04:30:00'),
 Timestamp('1999-01-01 04:31:00'),
 Timestamp('1999-01-01 04:32:00'),
 Timestamp('1999-01-01 04:33:00'),
 Timestamp('1999-01-01 04:34:00'),
 Timestamp('1999-01-01 04:35:00'),
 Timestamp('1999-01-01 04:36:00'),
 Timestamp('1999-01-01 04:37:00'),
 Timestamp('1999-01-01 04:39:00'),
 Timestamp('1999-01-01 04:40:00'),
 Timestamp('1999-01-01 04:41:00'),
 Timestamp('1999-01-01 04:42:00'),
 Timestamp('1999-01-01 04:43:00'),
 Timestamp('1999-01-01 04:44:00'),
 Timestamp('1999-01-01 04:45:00'),
 Timestamp('1999-01-01 04:46:00'),
 Timestamp('1999-01-01 04:47:00'),
 Timestamp('1999-01-01 04:48:00'),
 Timestamp('1999-01-01 04:49:00'),
 Timestamp('1999-01-01 04:50:00'),
 Timestamp('1999-01-01 04:51:00'),
 Timestamp('1999-01-01 04:52:00'),
 Timestamp('1999-01-01 04:53:00'),
 Timestamp('1999-01-01 04:55:00'),
 Timestamp('1999-01-01 04:56:00'),
 Timestamp('1999-01-01 04:57:00'),
 Timestamp('1999-01-01 04:58:00'),
 Timestamp('1999-01-01 04:59:00'),
 Timestamp('1999-01-01 05:00:00'),
 Timestamp('1999-01-01 05:01:00'),
 Timestamp('1999-01-01 05:02:00'),
 Timestamp('1999-01-01 05:03:00'),
 Timestamp('1999-01-01 05:04:00'),
 Timestamp('1999-01-01 05:05:00'),
 Timestamp('1999-01-01 05:06:00'),
 Timestamp('1999-01-01 05:07:00'),
 Timestamp('1999-01-01 05:08:00'),
 Timestamp('1999-01-01 05:09:00'),
 Timestamp('1999-01-01 05:11:00'),
 Timestamp('1999-01-01 05:12:00'),
 Timestamp('1999-01-01 05:13:00'),
 Timestamp('1999-01-01 05:14:00'),
 Timestamp('1999-01-01 05:15:00'),
 Timestamp('1999-01-01 05:16:00'),
 Timestamp('1999-01-01 05:17:00'),
 Timestamp('1999-01-01 05:18:00'),
 Timestamp('1999-01-01 05:19:00'),
 Timestamp('1999-01-01 05:20:00'),
 Timestamp('1999-01-01 05:21:00'),
 Timestamp('1999-01-01 05:22:00'),
 Timestamp('1999-01-01 05:23:00'),
 Timestamp('1999-01-01 05:24:00'),
 Timestamp('1999-01-01 05:25:00'),
 Timestamp('1999-01-01 05:27:00'),
 Timestamp('1999-01-01 05:28:00'),
 Timestamp('1999-01-01 05:29:00'),
 Timestamp('1999-01-01 05:30:00'),
 Timestamp('1999-01-01 05:31:00'),
 Timestamp('1999-01-01 05:32:00'),
 Timestamp('1999-01-01 05:33:00'),
 Timestamp('1999-01-01 05:34:00'),
 Timestamp('1999-01-01 05:35:00'),
 Timestamp('1999-01-01 05:36:00'),
 Timestamp('1999-01-01 05:37:00'),
 Timestamp('1999-01-01 05:38:00'),
 Timestamp('1999-01-01 05:39:00'),
 Timestamp('1999-01-01 05:40:00'),
 Timestamp('1999-01-01 05:41:00'),
 Timestamp('1999-01-01 05:43:00'),
 Timestamp('1999-01-01 05:44:00'),
 Timestamp('1999-01-01 05:45:00'),
 Timestamp('1999-01-01 05:46:00'),
 Timestamp('1999-01-01 05:47:00'),
 Timestamp('1999-01-01 05:48:00'),
 Timestamp('1999-01-01 05:49:00'),
 Timestamp('1999-01-01 05:50:00'),
 Timestamp('1999-01-01 05:51:00'),
 Timestamp('1999-01-01 05:52:00'),
 Timestamp('1999-01-01 05:53:00'),
 Timestamp('1999-01-01 05:54:00'),
 Timestamp('1999-01-01 05:55:00'),
 Timestamp('1999-01-01 05:56:00'),
 Timestamp('1999-01-01 05:57:00'),
 Timestamp('1999-01-01 05:59:00'),
 Timestamp('1999-01-01 06:00:00'),
 Timestamp('1999-01-01 06:01:00'),
 Timestamp('1999-01-01 06:02:00'),
 Timestamp('1999-01-01 06:03:00'),
 Timestamp('1999-01-01 06:04:00'),
 Timestamp('1999-01-01 06:05:00'),
 Timestamp('1999-01-01 06:06:00'),
 Timestamp('1999-01-01 06:07:00'),
 Timestamp('1999-01-01 06:08:00'),
 Timestamp('1999-01-01 06:09:00'),
 Timestamp('1999-01-01 06:10:00'),
 Timestamp('1999-01-01 06:11:00'),
 Timestamp('1999-01-01 06:12:00'),
 Timestamp('1999-01-01 06:13:00'),
 Timestamp('1999-01-01 06:15:00'),
 Timestamp('1999-01-01 06:16:00'),
 Timestamp('1999-01-01 06:17:00'),
 Timestamp('1999-01-01 06:18:00'),
 Timestamp('1999-01-01 06:19:00'),
 Timestamp('1999-01-01 06:20:00'),
 Timestamp('1999-01-01 06:21:00'),
 Timestamp('1999-01-01 06:22:00'),
 Timestamp('1999-01-01 06:23:00'),
 Timestamp('1999-01-01 06:24:00'),
 Timestamp('1999-01-01 06:25:00'),
 Timestamp('1999-01-01 06:26:00'),
 Timestamp('1999-01-01 06:27:00'),
 Timestamp('1999-01-01 06:28:00'),
 Timestamp('1999-01-01 06:29:00'),
 Timestamp('1999-01-01 06:31:00'),
 Timestamp('1999-01-01 06:32:00'),
 Timestamp('1999-01-01 06:33:00'),
 Timestamp('1999-01-01 06:34:00'),
 Timestamp('1999-01-01 06:35:00'),
 Timestamp('1999-01-01 06:36:00'),
 Timestamp('1999-01-01 06:37:00'),
 Timestamp('1999-01-01 06:38:00'),
 Timestamp('1999-01-01 06:39:00'),
 Timestamp('1999-01-01 06:40:00'),
 Timestamp('1999-01-01 06:41:00'),
 Timestamp('1999-01-01 06:42:00'),
 Timestamp('1999-01-01 06:43:00'),
 Timestamp('1999-01-01 06:44:00'),
 Timestamp('1999-01-01 06:45:00'),
 Timestamp('1999-01-01 06:47:00'),
 Timestamp('1999-01-01 06:48:00'),
 Timestamp('1999-01-01 06:49:00'),
 Timestamp('1999-01-01 06:50:00'),
 Timestamp('1999-01-01 06:51:00'),
 Timestamp('1999-01-01 06:52:00'),
 Timestamp('1999-01-01 06:53:00'),
 Timestamp('1999-01-01 06:54:00'),
 Timestamp('1999-01-01 06:55:00'),
 Timestamp('1999-01-01 06:56:00'),
 Timestamp('1999-01-01 06:57:00'),
 Timestamp('1999-01-01 06:58:00'),
 Timestamp('1999-01-01 06:59:00'),
 Timestamp('1999-01-01 07:00:00'),
 Timestamp('1999-01-01 07:01:00'),
 Timestamp('1999-01-01 07:03:00'),
 Timestamp('1999-01-01 07:04:00'),
 Timestamp('1999-01-01 07:05:00'),
 Timestamp('1999-01-01 07:06:00'),
 Timestamp('1999-01-01 07:07:00'),
 Timestamp('1999-01-01 07:08:00'),
 Timestamp('1999-01-01 07:09:00'),
 Timestamp('1999-01-01 07:10:00'),
 Timestamp('1999-01-01 07:11:00'),
 Timestamp('1999-01-01 07:12:00'),
 Timestamp('1999-01-01 07:13:00'),
 Timestamp('1999-01-01 07:14:00'),
 Timestamp('1999-01-01 07:15:00'),
 Timestamp('1999-01-01 07:16:00'),
 Timestamp('1999-01-01 07:17:00'),
 Timestamp('1999-01-01 07:19:00'),
 Timestamp('1999-01-01 07:20:00'),
 Timestamp('1999-01-01 07:21:00'),
 Timestamp('1999-01-01 07:22:00'),
 Timestamp('1999-01-01 07:23:00'),
 Timestamp('1999-01-01 07:24:00'),
 Timestamp('1999-01-01 07:25:00'),
 Timestamp('1999-01-01 07:26:00'),
 Timestamp('1999-01-01 07:27:00'),
 Timestamp('1999-01-01 07:28:00'),
 Timestamp('1999-01-01 07:29:00'),
 Timestamp('1999-01-01 07:30:00'),
 Timestamp('1999-01-01 07:31:00'),
 Timestamp('1999-01-01 07:32:00'),
 Timestamp('1999-01-01 07:33:00'),
 Timestamp('1999-01-01 07:35:00'),
 Timestamp('1999-01-01 07:36:00'),
 Timestamp('1999-01-01 07:37:00'),
 Timestamp('1999-01-01 07:38:00'),
 Timestamp('1999-01-01 07:39:00'),
 Timestamp('1999-01-01 07:40:00'),
 Timestamp('1999-01-01 07:41:00'),
 Timestamp('1999-01-01 07:42:00'),
 Timestamp('1999-01-01 07:43:00'),
 Timestamp('1999-01-01 07:44:00'),
 Timestamp('1999-01-01 07:45:00'),
 Timestamp('1999-01-01 07:46:00'),
 Timestamp('1999-01-01 07:47:00'),
 Timestamp('1999-01-01 07:48:00'),
 Timestamp('1999-01-01 07:49:00'),
 Timestamp('1999-01-01 07:51:00'),
 Timestamp('1999-01-01 07:52:00'),
 Timestamp('1999-01-01 07:53:00'),
 Timestamp('1999-01-01 07:54:00'),
 Timestamp('1999-01-01 07:55:00'),
 Timestamp('1999-01-01 07:56:00'),
 Timestamp('1999-01-01 07:57:00'),
 Timestamp('1999-01-01 07:58:00'),
 Timestamp('1999-01-01 07:59:00'),
 Timestamp('1999-01-01 08:00:00'),
 Timestamp('1999-01-01 08:01:00'),
 Timestamp('1999-01-01 08:02:00'),
 Timestamp('1999-01-01 08:03:00'),
 Timestamp('1999-01-01 08:04:00'),
 Timestamp('1999-01-01 08:05:00'),
 Timestamp('1999-01-01 08:07:00'),
 Timestamp('1999-01-01 08:08:00'),
 Timestamp('1999-01-01 08:09:00'),
 Timestamp('1999-01-01 08:10:00'),
 Timestamp('1999-01-01 08:11:00'),
 Timestamp('1999-01-01 08:12:00'),
 Timestamp('1999-01-01 08:13:00'),
 Timestamp('1999-01-01 08:14:00'),
 Timestamp('1999-01-01 08:15:00'),
 Timestamp('1999-01-01 08:16:00'),
 Timestamp('1999-01-01 08:17:00'),
 Timestamp('1999-01-01 08:18:00'),
 Timestamp('1999-01-01 08:19:00'),
 Timestamp('1999-01-01 08:20:00'),
 Timestamp('1999-01-01 08:21:00'),
 Timestamp('1999-01-01 08:23:00'),
 Timestamp('1999-01-01 08:24:00'),
 Timestamp('1999-01-01 08:25:00'),
 Timestamp('1999-01-01 08:26:00'),
 Timestamp('1999-01-01 08:27:00'),
 Timestamp('1999-01-01 08:28:00'),
 Timestamp('1999-01-01 08:29:00'),
 Timestamp('1999-01-01 08:30:00'),
 Timestamp('1999-01-01 08:31:00'),
 Timestamp('1999-01-01 08:32:00'),
 Timestamp('1999-01-01 08:33:00'),
 Timestamp('1999-01-01 08:34:00'),
 Timestamp('1999-01-01 08:35:00'),
 Timestamp('1999-01-01 08:36:00'),
 Timestamp('1999-01-01 08:37:00'),
 Timestamp('1999-01-01 08:39:00'),
 Timestamp('1999-01-01 08:40:00'),
 Timestamp('1999-01-01 08:41:00'),
 Timestamp('1999-01-01 08:42:00'),
 Timestamp('1999-01-01 08:43:00'),
 Timestamp('1999-01-01 08:44:00'),
 Timestamp('1999-01-01 08:45:00'),
 Timestamp('1999-01-01 08:46:00'),
 Timestamp('1999-01-01 08:47:00'),
 Timestamp('1999-01-01 08:48:00'),
 Timestamp('1999-01-01 08:49:00'),
 Timestamp('1999-01-01 08:50:00'),
 Timestamp('1999-01-01 08:51:00'),
 Timestamp('1999-01-01 08:52:00'),
 Timestamp('1999-01-01 08:53:00'),
 Timestamp('1999-01-01 08:55:00'),
 Timestamp('1999-01-01 08:56:00'),
 Timestamp('1999-01-01 08:57:00'),
 Timestamp('1999-01-01 08:58:00'),
 Timestamp('1999-01-01 08:59:00'),
 Timestamp('1999-01-01 09:00:00'),
 Timestamp('1999-01-01 09:01:00'),
 Timestamp('1999-01-01 09:02:00'),
 Timestamp('1999-01-01 09:03:00'),
 Timestamp('1999-01-01 09:04:00'),
 Timestamp('1999-01-01 09:05:00'),
 Timestamp('1999-01-01 09:06:00'),
 Timestamp('1999-01-01 09:07:00'),
 Timestamp('1999-01-01 09:08:00'),
 Timestamp('1999-01-01 09:09:00'),
 Timestamp('1999-01-01 09:11:00'),
 Timestamp('1999-01-01 09:12:00'),
 Timestamp('1999-01-01 09:13:00'),
 Timestamp('1999-01-01 09:14:00'),
 Timestamp('1999-01-01 09:15:00'),
 Timestamp('1999-01-01 09:16:00'),
 Timestamp('1999-01-01 09:17:00'),
 Timestamp('1999-01-01 09:18:00'),
 Timestamp('1999-01-01 09:19:00'),
 Timestamp('1999-01-01 09:20:00'),
 Timestamp('1999-01-01 09:21:00'),
 Timestamp('1999-01-01 09:22:00'),
 Timestamp('1999-01-01 09:23:00'),
 Timestamp('1999-01-01 09:24:00'),
 Timestamp('1999-01-01 09:25:00'),
 Timestamp('1999-01-01 09:27:00'),
 Timestamp('1999-01-01 09:28:00'),
 Timestamp('1999-01-01 09:29:00'),
 Timestamp('1999-01-01 09:30:00'),
 Timestamp('1999-01-01 09:31:00'),
 Timestamp('1999-01-01 09:32:00'),
 Timestamp('1999-01-01 09:33:00'),
 Timestamp('1999-01-01 09:34:00'),
 Timestamp('1999-01-01 09:35:00'),
 Timestamp('1999-01-01 09:36:00'),
 Timestamp('1999-01-01 09:37:00'),
 Timestamp('1999-01-01 09:38:00'),
 Timestamp('1999-01-01 09:39:00'),
 Timestamp('1999-01-01 09:40:00'),
 Timestamp('1999-01-01 09:41:00'),
 Timestamp('1999-01-01 09:43:00'),
 Timestamp('1999-01-01 09:44:00'),
 Timestamp('1999-01-01 09:45:00'),
 Timestamp('1999-01-01 09:46:00'),
 Timestamp('1999-01-01 09:47:00'),
 Timestamp('1999-01-01 09:48:00'),
 Timestamp('1999-01-01 09:49:00'),
 Timestamp('1999-01-01 09:50:00'),
 Timestamp('1999-01-01 09:51:00'),
 Timestamp('1999-01-01 09:52:00'),
 Timestamp('1999-01-01 09:53:00'),
 Timestamp('1999-01-01 09:54:00'),
 Timestamp('1999-01-01 09:55:00'),
 Timestamp('1999-01-01 09:56:00'),
 Timestamp('1999-01-01 09:57:00'),
 Timestamp('1999-01-01 09:59:00'),
 Timestamp('1999-01-01 10:00:00'),
 Timestamp('1999-01-01 10:01:00'),
 Timestamp('1999-01-01 10:02:00'),
 Timestamp('1999-01-01 10:03:00'),
 Timestamp('1999-01-01 10:04:00'),
 Timestamp('1999-01-01 10:05:00'),
 Timestamp('1999-01-01 10:06:00'),
 Timestamp('1999-01-01 10:07:00'),
 Timestamp('1999-01-01 10:08:00'),

In [140]:
dict(enumerate([n for _ in list(range(0, 24, 3)) for n in itertools.repeat(_, 3)]))

{0: 0,
 1: 0,
 2: 0,
 3: 3,
 4: 3,
 5: 3,
 6: 6,
 7: 6,
 8: 6,
 9: 9,
 10: 9,
 11: 9,
 12: 12,
 13: 12,
 14: 12,
 15: 15,
 16: 15,
 17: 15,
 18: 18,
 19: 18,
 20: 18,
 21: 21,
 22: 21,
 23: 21}

In [142]:
{n :(f'kp_{str(n)}h' if len(str(n)) == 2 else f'kp_0{str(n)}h') for n in list(range(0, 24, 3))}

{0: 'kp_00h',
 3: 'kp_03h',
 6: 'kp_06h',
 9: 'kp_09h',
 12: 'kp_12h',
 15: 'kp_15h',
 18: 'kp_18h',
 21: 'kp_21h'}

In [ ]:
pd.Timestamp(year=a.year, month=a.month, day=a.day, hour=n) if len(str(n))==2 else pd.Timestamp(year=a.year, month=a.month, day=a.day, hour=int(f'0{n}')) for a in ace.dt