In [6]:
import os
import pandas as pd

In [4]:
data2 = pd.read_csv('./data/붙임2 AI 경진대회 문제(태양풍 데이터).csv')
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456299 entries, 0 to 456298
Data columns (total 10 columns):
doy        456299 non-null int64
h          456299 non-null int64
m          456299 non-null int64
Np         456299 non-null float64
Tp         456299 non-null float64
Vp         456299 non-null float64
B_gsm_x    456299 non-null float64
B_gsm_y    456299 non-null float64
B_gsm_z    456299 non-null float64
Bmag       456299 non-null float64
dtypes: float64(7), int64(3)
memory usage: 34.8 MB

In [5]:
data5 = pd.read_csv('./data/붙임5 추가 태양풍 데이터(과제문제의 전년도 6개월).csv', sep=' ', skiprows=range(11)).drop(index=0).iloc[:, :-1]
data5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251097 entries, 1 to 251097
Data columns (total 10 columns):
doy        251097 non-null object
hr         251097 non-null object
min        251097 non-null float64
Np         251097 non-null float64
Tp         251097 non-null float64
Vp         251097 non-null float64
B_gsm_x    251097 non-null float64
B_gsm_y    251097 non-null float64
B_gsm_z    251097 non-null float64
Bt         251097 non-null float64
dtypes: float64(8), object(2)
memory usage: 21.1+ MB

C:\Users\wowns\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
base_dir = os.path.abspath('./data/붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820/태양풍')
csv_list = os.listdir(base_dir)
csv_list

['ace_1999.csv',
 'ace_2000.csv',
 'ace_2001.csv',
 'ace_2002.csv',
 'ace_2003.csv',
 'ace_2004.csv',
 'ace_2005.csv',
 'ace_2006.csv',
 'ace_2007.csv',
 'ace_2008.csv',
 'ace_2009.csv',
 'ace_2010.csv',
 'ace_2011.csv',
 'ace_2012.csv',
 'ace_2013.csv']

In [9]:
data1 = pd.DataFrame()
for name in csv_list:
    ins_data = pd.read_csv(os.path.join(base_dir, name), skiprows=range(12), delim_whitespace=True).drop(index=0)
    data1 = pd.concat([data1, ins_data], axis=0)

data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7429504 entries, 1 to 492751
Data columns (total 11 columns):
year       object
doy        object
hr         float64
min        float64
Np         float64
Tp         float64
Vp         float64
B_gsm_x    float64
B_gsm_y    float64
B_gsm_z    float64
Bt         float64
dtypes: float64(9), object(2)
memory usage: 680.2+ MB

In [55]:
data1

,year,doy,hr,min,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bt
1,1999,1,0.0,0.0,7.149,92352.0,406.00,-2.174,-2.598,5.550,6.630
2,1999,1,0.0,1.0,5.998,85859.0,419.12,-1.245,-0.140,6.558,6.796
3,1999,1,0.0,2.0,6.211,81547.0,411.99,-2.003,-1.198,6.306,6.802
4,1999,1,0.0,3.0,6.680,72308.0,405.25,-3.093,-2.483,5.545,6.854
5,1999,1,0.0,4.0,-9999.900,-9999.9,-9999.90,-3.009,-1.500,5.908,6.842
6,1999,1,0.0,5.0,6.410,69888.0,408.27,-2.297,-0.685,6.339,6.842
7,1999,1,0.0,7.0,6.149,74253.0,409.85,-2.132,0.345,6.415,6.831
8,1999,1,0.0,8.0,6.422,73144.0,407.99,-2.416,0.694,6.021,6.969
9,1999,1,0.0,9.0,6.216,88505.0,412.83,-2.245,3.919,5.365,7.032
10,1999,1,0.0,10.0,5.587,86869.0,413.50,-2.461,3.513,5.546,7.028
11,1999,1,0.0,11.0,6.068,83807.0,409.13,-2.518,2.851,5.851,6.999
12,1999,1,0.0,12.0,6.282,79354.0,408.77,-2.412,2.968,5.761,6.931
13,1999,1,0.0,13.0,5.834,67273.0,427.12,-1.524,3.291,5.639,6.839
14,1999,1,0.0,14.0,5.053,67946.0,417.32,-1.713,4.140,4.835,6.748
15,1999,1,0.0,15.0,5.877,81477.0,410.18,-1.701,3.820,5.047,6.694
16,1999,1,0.0,16.0,6.231,87876.0,421.84,-0.381,4.613,4.587,6.567
17,1999,1,0.0,17.0,4.826,63165.0,418.37,-1.943,3.928,4.596,6.530
18,1999,1,0.0,18.0,5.677,75000.0,412.68,-2.182,4.030,4.652,6.562
19,1999,1,0.0,19.0,5.999,82842.0,413.96,-2.031,3.234,5.488,6.762
20,1999,1,0.0,20.0,6.441,78279.0,407.70,-2.478,2.816,5.678,6.848
21,1999,1,0.0,21.0,6.432,81255.0,412.29,-2.209,3.100,5.719,6.898
22,1999,1,0.0,23.0,5.633,72132.0,416.76,-1.537,3.489,5.363,6.787
23,1999,1,0.0,24.0,6.834,86614.0,429.32,-0.038,4.153,5.279,6.773
24,1999,1,0.0,25.0,5.232,70889.0,427.99,-0.109,4.373,5.153,6.824
25,1999,1,0.0,26.0,5.380,72428.0,431.72,0.599,4.514,5.014,6.831
26,1999,1,0.0,27.0,5.828,80967.0,426.07,-0.748,4.600,4.959,6.843
27,1999,1,0.0,28.0,5.765,79227.0,423.82,-1.070,4.096,5.014,6.819
28,1999,1,0.0,29.0,6.369,77419.0,411.34,-2.907,1.527,6.196,7.048
29,1999,1,0.0,30.0,4.673,61702.0,404.95,-3.201,0.250,6.187,7.026
30,1999,1,0.0,31.0,6.478,79500.0,407.69,-2.138,-0.781,6.435,6.884
...,...,...,...,...,...,...,...,...,...,...,...
492722,2013,365,23.0,28.0,-9999.900,-9999.9,-9999.90,-2.566,3.215,1.237,4.662
492723,2013,365,23.0,29.0,-9999.900,84772.0,380.01,-1.676,4.699,-0.132,5.106
492724,2013,365,23.0,30.0,-9999.900,60460.0,379.81,-1.411,5.241,-1.178,5.564
492725,2013,365,23.0,31.0,-9999.900,63283.0,375.71,-1.733,5.297,-0.688,5.630
492726,2013,365,23.0,32.0,-9999.900,71357.0,378.79,-1.953,4.953,-0.257,5.335
492727,2013,365,23.0,33.0,-9999.900,77483.0,376.02,-2.472,4.772,-0.016,5.379
492728,2013,365,23.0,34.0,-9999.900,73396.0,375.73,-2.219,4.884,-0.097,5.370
492729,2013,365,23.0,35.0,-9999.900,73043.0,379.17,-1.713,5.056,-0.501,5.372
492730,2013,365,23.0,36.0,-9999.900,70845.0,378.46,-1.888,5.047,-0.485,5.414
492731,2013,365,23.0,37.0,-9999.900,70809.0,377.15,-1.837,5.142,-0.506,5.486
492732,2013,365,23.0,39.0,-9999.900,71491.0,376.62,-1.864,5.080,-0.680,5.461
492733,2013,365,23.0,40.0,-9999.900,73455.0,377.24,-1.870,4.999,-0.718,5.391
492734,2013,365,23.0,41.0,-9999.900,74211.0,374.69,-1.598,5.151,-0.692,5.451
492735,2013,365,23.0,42.0,-9999.900,63979.0,377.84,-1.499,5.290,-0.906,5.582
492736,2013,365,23.0,43.0,-9999.900,61430.0,379.79,-1.268,5.381,-0.957,5.620
492737,2013,365,23.0,44.0,-9999.900,58800.0,380.02,-1.070,5.479,-0.819,5.647
492738,2013,365,23.0,45.0,-9999.900,60981.0,378.01,-1.205,5.505,-0.733,5.685
492739,2013,365,23.0,46.0,-9999.900,-9999.9,-9999.90,-1.636,5.361,-0.953,5.695
492740,2013,365,23.0,47.0,-9999.900,65809.0,377.67,-1.312,5.501,-0.725,5.711
492741,2013,365,23.0,48.0,-9999.900,67136.0,380.63,-0.980,5.598,-0.761,5.739
492742,2013,365,23.0,49.0,-9999.900,66458.0,382.40,-0.726,5.642,-0.666,5.731
492743,2013,365,23.0,50.0,-9999.900,66488.0,380.88,-0.576,5.708,-0.415,5.760
492744,2013,365,23.0,51.0,-9999.900,67617.0,380.31,-0.302,5.734,-0.467,5.766
492745,2013,365,23.0,52.0,-9999.900,65768.0,382.51,-0.073,5.807,-0.495,5.831
492746,2013,365,23.0,53.0,-9999.900,65962.0,383.36,-0.013,5.793,-0.484,5.815
492747,2013,365,23.0,55.0,-9999.900,64605.0,381.59,0.086,5.690,-0.674,5.734
492748,2013,365,23.0,56.0,-9999.900,68702.0,381.42,0.360,5.675,-0.134,5.695
492749,2013,365,23.0,57.0,-9999.900,70184.0,380.46,-1.113,5.470,-0.864,5.706
492750,2013,365,23.0,58.0,-9999.900,68187.0,374.23,-1.486,5.359,-0.857,5.657
492751,2013,365,23.0,59.0,-9999.900,64837.0,-9999.90,-0.475,5.646,-0.295,5.678

In [61]:
data.isna().sum()

year       0
doy        0
hr         0
min        0
Np         0
Tp         0
Vp         0
B_gsm_x    0
B_gsm_y    0
B_gsm_z    0
Bt         0
dtype: int64

In [10]:
data1_target = pd.read_csv(os.path.join(base_dir, '../지자기교란 지수.csv'))
data1_target

            date  kp_0h  kp_3h  kp_6h  kp_9h  kp_12h  kp_15h  kp_18h  kp_21h
0     1999-01-01      0      2      1      2       2       1       1       1
1     1999-01-02      1      2      2      3       3       2       2       1
2     1999-01-03      2      2      0      0       1       1       1       1
3     1999-01-04      1      2      3      2       3       2       1       2
4     1999-01-05      3      3      2      3       1       1       2       1
5     1999-01-06      1      0      3      1       3       3       3       2
6     1999-01-07      1      0      1      2       3       3       2       2
7     1999-01-08      3      2      3      4       3       3       3       3
8     1999-01-09      3      2      3      1       1       1       1       2
9     1999-01-10      2      0      2      3       1       1       1       1
10    1999-01-11      1      1      1      2       1       2       2       1
11    1999-01-12      1      0      1      1       3       1       3       2
12    1999-01-13      2      2      1      4       4       5       5       6
13    1999-01-14      2      2      5      4       5       4       3       4
14    1999-01-15      3      5      3      4       3       3       3       2
15    1999-01-16      2      2      3      3       1       2       1       1
16    1999-01-17      2      2      2      1       2       2       1       1
17    1999-01-18      0      0      0      1       1       2       3       3
18    1999-01-19      1      1      1      3       0       2       2       1
19    1999-01-20      1      0      0      1       2       3       3       2
20    1999-01-21      1      2      1      3       2       1       1       0
21    1999-01-22      1      1      0      1       3       4       3       3
22    1999-01-23      2      3      3      3       3       4       4       4
23    1999-01-24      4      3      3      3       2       3       3       1
24    1999-01-25      3      3      2      3       1       2       2       2
25    1999-01-26      2      0      1      2       1       1       1       2
26    1999-01-27      2      3      2      2       3       3       2       1
27    1999-01-28      1      1      3      2       3       3       2       2
28    1999-01-29      1      2      2      3       2       2       2       2
29    1999-01-30      2      1      2      2       1       1       1       1
...          ...    ...    ...    ...    ...     ...     ...     ...     ...
5449  2013-12-02      0      0      0      0       0       0       0       0
5450  2013-12-03      1      1      1      3       3       2       2       2
5451  2013-12-04      2      2      1      0       0       1       1       1
5452  2013-12-05      1      1      1      2       2       1       1       1
5453  2013-12-06      1      1      1      1       0       0       1       1
5454  2013-12-07      2      1      2      1       1       1       2       3
5455  2013-12-08      6      5      4      2       2       4       3       2
5456  2013-12-09      1      0      1      1       1       2       2       1
5457  2013-12-10      1      3      2      2       1       1       1       1
5458  2013-12-11      1      1      1      1       1       0       1       1
5459  2013-12-12      0      1      1      1       0       0       0       1
5460  2013-12-13      0      1      0      0       2       2       1       1
5461  2013-12-14      3      4      2      1       1       3       4       3
5462  2013-12-15      2      1      1      1       1       3       1       1
5463  2013-12-16      3      3      2      1       1       1       2       2
5464  2013-12-17      2      1      0      0       0       1       2       1
5465  2013-12-18      1      1      2      1       0       1       1       2
5466  2013-12-19      2      2      0      0       1       2       2       2
5467  2013-12-20      2      3      0      1       1       2       2       1
5468  2013-12-21      1      1      2      1       0       0       1       0
5469  2013-12-22      0      1      1      1       0       0       1       0
5470  2013-12-23      1      1      1      0       0       0       1       1
5471  2013-12-24      0      0      0      0       0       1       1       1
5472  2013-12-25      2      1      2      3       3       2       1       1
5473  2013-12-26      1      1      1      1       1       0       0       0
5474  2013-12-27      0      0      0      0       0       0       2       1
5475  2013-12-28      0      0      0      1       1       1       1       1
5476  2013-12-29      1      1      1      2       1       1       2       1
5477  2013-12-30      0      0      1      1       1       1       1       1
5478  2013-12-31      2      1      2      2       2       1       2       1

[5479 rows x 9 columns]